
<div class="container">
    <form  class="mat-dialog-content"  id="idFormModalidad"  [formGroup]="formsActualiza">
      <div class="row">
            <mat-toolbar color="primary" >    
              <span>Actualiza Docente</span>    
            </mat-toolbar>  
      </div>
      <div  class="row"  style="margin-top: 3%">
                <mat-form-field class="col-md-8">
                    <mat-label>Nombre</mat-label>
                    <input  matInput  [(ngModel)]="docente.nombre"  name="nombre" 
                        formControlName="validaNombre" maxlength="30">
                    <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaNombre.touched">
                        <span *ngIf="formsActualiza.controls.validaNombre.hasError('required')">
                               El nombre es requerido 
                        </span>
                        <span *ngIf="formsActualiza.controls.validaNombre.hasError('pattern')">
                               El nombre es de 3 a 30 caracteres 
                        </span>
                    </mat-hint> 
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <mat-label>DNI</mat-label>
                    <input  matInput  [(ngModel)]="docente.dni"   name="dni"  formControlName="validaDNI" maxlength="8">
                    <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaDNI.touched">
                        <span *ngIf="formsActualiza.controls.validaDNI.hasError('required')">
                               El DNI es requerido 
                        </span>
                        <span *ngIf="formsActualiza.controls.validaDNI.hasError('pattern')">
                               El DNI tiene 8 dígitos
                        </span>
                    </mat-hint>
                </mat-form-field>
        </div>
        <div class="row" style="margin-top: 5%">
    
            <mat-form-field class="col-md-4">
                <mat-label>Departamento</mat-label>
                <mat-select  name="departamento"  [(ngModel)]="docente.ubigeo!.departamento"  
                                (selectionChange)="cargaProvincia()"  formControlName="validaDepartamento">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let x of departamentos"  [value]="x">
                                    {{x}}
                    </mat-option> 
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaDepartamento.touched">
                    <span *ngIf="formsActualiza.controls.validaDepartamento.hasError('min')">
                           El Departamento es requerido
                    </span>
                </mat-hint>  
            </mat-form-field> 


            <mat-form-field class="col-md-4">
                <mat-label>Provincia</mat-label>
                <mat-select   name="provincia"  [(ngModel)]="docente.ubigeo!.provincia" 
                                (selectionChange)="cargaDistrito()" formControlName="validaProvincia">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let x of provincias"  [value]="x">
                        {{x}}
                    </mat-option> 
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaProvincia.touched">
                    <span *ngIf="formsActualiza.controls.validaProvincia.hasError('min')">
                           La provincia es requerida
                    </span>
                </mat-hint>  
            </mat-form-field> 

            <mat-form-field class="col-md-4">
                <mat-label>Distrito</mat-label>
                <mat-select  name="distrito"  [(ngModel)]="docente.ubigeo!.idUbigeo" 
                                                                    formControlName="validaDistrito">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let x of distritos"  [value]="x.idUbigeo" >
                        {{x.distrito}}
                    </mat-option> 
                </mat-select>
                <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaDistrito.touched">
                    <span *ngIf="formsActualiza.controls.validaDistrito.hasError('min')">
                           El distrito es requerido
                    </span>
                </mat-hint>  
            </mat-form-field> 

        </div>

        <div  mat-dialog-actions>
                <button mat-raised-button 
                        type="submit" 
                        (click) = "actualiza()"
                        color="primary" 
                        [disabled]="formsActualiza.invalid"
                        [mat-dialog-close]="1">
                        Actualiza
                </button>
                <button mat-button 
                        color="primary">
                        Salir
                </button>
        </div>

      </form>
  </div>